@import "tailwindcss";

html {
  font-family: "Inter", sans-serif;
}

@theme {
  --color-ui-background: #06121e;
  --color-brand-primary: #007aff;

  --color-feedback-success: #34c759;
  --color-feedback-warning: #ff9500;
  --color-feedback-error: #ff3b30;

  --color-text-primary: #1c1c1e;
  --color-text-secondary: #8e8e93;
}

@layer components {
  .input-base {
    @apply bg-white text-text-primary outline-2 rounded-lg pl-2 focus:outline-brand-primary border border-text-secondary;  
  }

  .botao-primario {
    @apply bg-brand-primary hover:opacity-75 delay-75 transition rounded-lg cursor-pointer font-bold;
  }

  .heading-1 {
    @apply text-3xl sm:text-5xl font-bold;
  }

  .heading-2 {
    @apply text-2xl sm:text-3xl font-semibold;
  }

  .heading-3 {
    @apply text-xl sm:text-2xl font-medium;
  }

  .text-body-bold {
    @apply text-sm font-medium;
  }

  .text-caption {
    @apply text-xs;
  }
}
