@import "tailwindcss";

html {
  font-family: "Inter", sans-serif;
}

@theme {
  --color-bg: #333333;
  --color-primary: #007aff;
  --color-textPrimary: #1C1C1E
}

@layer components {
  .inputBase {
    @apply bg-white text-textPrimary outline-2 rounded-lg pl-2 focus:outline-primary;
  }
  .botaoPrimario {
    @apply bg-primary hover:opacity-75 delay-75 transition rounded-lg;
  }
  .textoPrimario {
    @apply text-3xl font-bold;
  }
}
